%fieldset
  %table.table.order_detail_table
    %thead
    %tbody
      %tr
        %td.col-md-2
          = f.select :item_id, options_for_select(Item.all.map { |item| [item.name, item.id]}, selected: f.object.item_id), hide_label: true
        %td.col-md-2
          = f.text_field :price_dollars,  hide_label: true, prepend: "$"
        %td.col-md-2
          = f.hidden_field :_destroy
          %a.btn.btn-danger.pull-right.remove_fields{"href" => "#"}
            %i.fa.fa-remove
              Delete

