%fieldset
  %table.table.order_detail_table
    %thead
    %tbody
      %tr
        %td.col-md-2
          = f.select :item_id, options_for_select(Item.all.map { |item| [item.name, item.id]}, selected: f.object.item_id)
        %td.col-md-2
          = f.text_field :price_dollars, prepend: "$", value: number_to_currency(f.object.price_dollars || 0.00)
        %td.col-md-2
          = f.text_field :weight_grams
        %td.col-md-2
          = f.hidden_field :_destroy
          %a.btn.btn-danger.pull-right.remove_fields{"href" => "#"}
            %i.fa.fa-remove
              Delete

