%header#header
  %div#logo-group
    -# PLACE YOUR LOGO HERE -->
    %span#logo
    =image_tag 'logo.png', alt: "SmartAdmin"
    -# END LOGO PLACEHOLDER -->
    -#    @if (Request.IsAuthenticated)
    -#    {
    -#        <!-- Note: The activity badge color changes when clicked and resets the number to 0
    -#        Suggestion: You may want to set a flag when this happens to tick off all checked messages / notifications -->
    -#        <span id="activity" class="activity-dropdown"> <i class="fa fa-user"></i> <b class="badge"> 21 </b> </span>

    -#    <!-- AJAX-DROPDOWN : control this dropdown height, look and feel from the LESS variable file -->
    %div.ajax-dropdown
      -# the ID links are fetched via AJAX to the ajax container "ajax-notifications" -->
      %div.btn-group.btn-group-justified{ "data-toggle" => "buttons" }
        %label.btn.btn-default
          %input{ :type => "radio", :name => "activity", :id => "~/content/ajax/notify/mail.html" }
            Msgs (14)
        %label.btn.btn-default
          %input{ :type => "radio", :name => "activity", :id => "~/content/ajax/notify/notifications.html" }
            notify (3)
        %label.btn.btn-default
          %input{ :type => "radio", :name => "activity", :id => "~/content/ajax/notify/tasks.html" }
            Tasks (4)

    -# notification content -->
    %div.ajax-notifications.custom-scroll
      %div.alert.alert-transparent
        %h4 
          Click a button to show messages here
          This blank page message helps protect your privacy, or you can show the first message here automatically.
      %i.fa.fa-lock.fa-4x.fa-border
    -# end notification content -->
    -# footer: refresh area -->
    %span
      Last updated on: 12/12/2013 9:43AM
      %buttonbtn.btn-xs.btn-default.pull-right{ :type => "button", "data-loading-text" => "<i class='fa fa-refresh fa-spin'></i> Loading..."}
        %i.fa.fa-refresh
    -# end footer -->

    -# END AJAX-DROPDOWN -->
    -# projects dropdown -->
    %div.project-context.hidden-xs
      %span.label Projects:
      %span.project-selector.dropdown-toggle{ "data-toggle" => "dropdown" }
        Recent projects 
        %i.fa.fa-angle-down

      -# Suggestion: populate this list with fetch and push technique -->
      %ul.dropdown-menu
        %li
          %a{ :href => "javascript:void(0);" }
            Online e-merchant management system - attaching integration with the iOS
        %li
          %a{ :href => "javascript:void(0);" }
            Notes on pipeline upgradee
        %li
          %a{ :href => "javascript:void(0);" }
            Assesment Report for merchant account
        %li.divider
        %li
          %a{ :href => "javascript:void(0);" }
            %i.fa.fa-power-off
            Clear
      -# end dropdown-menu-->
      -# end projects dropdown -->
      %section#top-right
        %div.pull-right
          -# @Html.Partial("_TopRight")