%div#content
  -# widget grid -->
  %section#widget-grid
    -# row -->
    %div.row
      -# NEW WIDGET START -->
      %article.col-xs-12.col-sm-12.col-md-12.col-lg-12
        -#- end widget -->
        -#- Widget ID (each widget will need unique ID)-->
        %div.jarviswidget.jarviswidget-color-blueDark{ "data-widget-editbutton" => "true", "data-widget-deletebutton" => "false", "data-widget-togglebutton" => "false", "data-widget-fullscreenbutton" => "false", "data-widget-colorbutton" => "false" }
          %header
            %span.widget-icon
              %i.fa.fa-table
            %h2.widget-header Users
          -#- widget div-->
          %div
            -# widget edit box -->
            %div.jarviswidget-editbox
              -# This area used as dropdown edit box -->
            -#- end widget edit box -->
            -#- widget content -->
            %div.widget-body
              %div.widget-body-toolbar
                = link_to new_user_path, class: "btn btn-success", remote: true do 
                  %i.fa.fa-plus
                  %i.fa.fa-lg.fa-fw.fa-user
                  %span New User
              %table#acounts.table.table-striped.table-bordered.table-hover{ :width => "100%" }
                %thead
                  %tr
                    %th ID
                    %th Name
                %tbody
                  - @users.each do |user|
                    %tr
                      %td= user.id
                      %td
                        = link_to user.name, edit_user_path(user), remote: true, data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..."}



