%header#header
  %div#logo-group
    -# PLACE YOUR LOGO HERE -->
    %span#logo
      -#=image_tag 'logo.png', alt: "BKISystem"
      =image_tag 'bki_logo.png', class: "img-responsive", id: "logo-image"
      %small BKI Systems
