%div.divMessageBox.animated.fadeIn.fast#MsgBoxBack
  %div.MessageBoxContainer.animated.fadeIn.fast#Msg1
    %div.MessageBoxMiddle
      %span.MsgTitle
        %i.fa.fa-sign-out.txt-color-orangeDark
        Logout
        %span.txt-color-orangeDark
          %strong
            john.doe 
          ?
      %p.pText
        You can improve your security further after logging out by closing this opened browser
      %div.MessageBoxButtonSection
        %button#bot1-Msg1.btn.btn-default.btn-sm.botTempo
          No
        %button#bot2-Msg1.btn.btn-default.btn-sm.botTempo
          Yes