

$('#content').replaceWith( '<%= j render("form") %>');
pageSetUp();


$("orderdetail")
<% if flash.any? %>
  $('#content').before('<%= j render("shared/messages") %>');
<% end %>

setTimeout(function() {
  $('.flash-messages').remove();
}, 10000);


$('form').on('click', '.remove_fields', function(event) {
  $(this).prev('input[type=hidden]').val('1');
  $(this).closest('tr').hide("slow");
  event.preventDefault();
});

$('form').on('click', '.remove_item_fields', function(event) {
  $(this).prev('input[type=hidden]').val('1');
  $(this).closest('fieldset').hide("slow");
  event.preventDefault();
});

$('form').on('click', '.add_fields', function(event) {
  time = new Date().getTime();
  regexp = new RegExp($(this).data('id'), 'g');
  $(this).before($(this).data('fields').replace(regexp, time));
  event.preventDefault();
  auto_complete_items();
});

var auto_complete_items = function() {
  $(".item_name" ).autocomplete({
    source: "/ajax/item_names"
  });
}

$('.js-shipDelivery').click(function() {
  var shipDelivery = $(this).data("location-description");
  $('#order_ship_delivery').val(shipDelivery);
});

$('.js-pickupDelivery').click(function() {
  var pickupDelivery = $(this).data("location-description");
  $('#order_ship_pick_up').val(pickupDelivery);
});

auto_complete_items();




var filterBySelect = function(search) {
  var regex = new RegExp(search, 'gi');
  var update_select = $(".item-select");
  $(".item-select").empty();
  $(update_select).empty();

  $("#hidden_select").find('option').each(function(){
    var new_description = $(this).text();
    var new_value = $(this).val();

    if(new_description.match(regex) !== null) {
      console.log("works");
      $(update_select).append($("<option value=" + new_value + ">" + new_description + "</option>"));
    }     
  });
}

$("#variety").bind("change", function(){
  filterBySelect(getSearchArgs());
});

$("#grade").bind("change", function(){
  filterBySelect(getSearchArgs());
});


$("#size").bind("change", function(){
  filterBySelect(getSearchArgs());
});

var getSearchArgs = function() {
  var search = [];
  var size = $("#size option:selected").text();
  var grade = $("#grade option:selected").text();
  var variety = $("#variety option:selected").text();
  if(grade !== ""){
    search.push("(?=.*\\b" + grade + "\\b)");
  }

  if(variety !== ""){
    search.push("(?=.*\\b" + variety + "\\b)");
  }

  if(size !== ""){
    search.push("(?=.*\\b" + size + "\\b)");
  }
  searchArg = (search.length==1)?search:search.join("");

  return searchArg;
}