%div.well.bg-color-darken
  %div.row
    %fieldset
      = f.text_field :line1
      = f.text_field :line2
      = f.text_field :line3
      = f.text_field :country
  %div.row
    %a.btn.btn-danger.pull-right{"href" => "#"}
      %i.fa.fa-remove
        Delete